* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Tahoma, sans-serif;
}

.hidden {
    display: none;
}

.btn {
    cursor: pointer;
}

.btn.disabled {
    cursor: default;
}

.flex-container {
    display: flex;
}

.flex-rows {
    flex-direction: column;
}

.dashboard_panel-header {
    background-color: #888;
    padding: 10px;
    color: #fff;
    position: relative;
}

.dashboard_panel-header .btn {
    position: absolute;
    width: 19px;
    right: 9px;
    top: 9px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: center;
}

.field-container {
    padding: 10px 10px 0 10px;
}
.field-container:last-of-type {
    padding-bottom: 10px;
}
.field-container label {
    flex-basis: 100px;
    text-align: right;
    margin: 0 10px;
}
.field-container input {
    flex: 1;
}

.drop-down {
    position: absolute;
    display: none;
    padding-inline-start: 0;
    background-color: #666;
    top: 14px;
    right: 0;
    list-style-type: none;
}
.drop-down.in {
    display: block;
}

.drop-down li {
    padding: 5px;
    cursor: pointer;
}
.drop-down li:hover {
    background-color: #555;
}

.hold {
    position: absolute;
    z-index: 100;
    border: 2px solid rgba(0, 0, 0, 0.5);
}
.hold::before {
    content: "Cargo hold";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hold_cell {
    background-color: #bbb;
}
.valid_tile {
    background-color: #efe;
}
.hold_cell.valid_tile {
    background-color: #9b9;
}

.cargo-unit {
    position: absolute;
    background-color: #5e8a64;
    border: 3px solid #285428;
    border-radius: 10px;
    cursor: pointer;
}
.cargo-unit::before {
    content: attr(data-index);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    font-size: xx-large;
}
/*.cargo-unit.placed {
    background-color: #8a8;
}
*/
.dragging {
    opacity: 0.5;
    cursor: move;
}

#page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#page-header {
    flex-basis: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    line-height: 46px;
}

#page-body {
    flex: 1;
}

#page-footer {
    flex-basis: 30px;
    background-color: #999;
}

#dashboard {
    flex-basis: 300px;
    background-color: #f8f8f8;
}

#cargo-hold_settings {
	flex-basis: auto;
}

#cargo-list {
    flex: 1;
    overflow: hidden auto;
}

#workarea {
    flex: 1;
    background-color: #ccc;
    position: relative;
}
#workarea .row {
    flex: 1;
}
#workarea .row .cell {
    flex: 1;
    border: solid #eee;
    border-top: 0;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left: 0;
}
